@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''), url(../fonts/Gilroy/gilroy-regular.ttf) format('ееа');
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: local(''), url(../fonts/Gilroy/gilroy-regular.ttf) format('ееа');
  font-display: swap;
}
