@media (max-width: 1680px) {
  .content-title {
    font-size: 20px;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1600px) {
  .content {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .phone-text {
    z-index: 10;
    top: 60px;
    left: 40px;
  }

  .phone-button {
    bottom: 70px;

    img {
      width: 200px;
    }
  }

  .needs-item,
  .vpn-text {
    font-size: 16px;
  }

  h3 {
    margin-bottom: 0px;
  }

  .qiwi {
    width: 120px;
  }

  .card {
    width: 50px;
  }

  .footer-item {
    font-size: 18px;

    img {
      width: 80px;
      margin-right: 25px;
    }
  }
}
