@import 'fonts';
@import 'vars';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #fff;
}

body {
  font-family: Gilroy, serif;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

.content {
  position: relative;
  display: flex;
  gap: 95px;
  height: 100vh;
  margin-bottom: 105px;
  padding-top: 240px;
  padding-left: 180px;
}

.phone-wrapper {
  position: relative;
}

.phone-title {
  font-size: 28px;
  color: $color-green;
}

.phone-text {
  z-index: 10;
  position: absolute;
  top: 80px;
  left: 60px;
  text-align: center;
  color: $color-black;
}

.phone-text__item {
  font-size: 12px;
}

.phone {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}

.content-title {
  font-size: 24px;
  color: $color-primary;
}

.needs {
  margin-top: -15px;
}

.needs-item {
  position: relative;
  margin-left: 18px;
  margin-bottom: 30px;
  height: 100%;

  &:before {
    content: '';
    position: absolute;
    left: -18px;
    width: 5px;
    height: inherit;
    background-color: $color-secondary;
  }
}

.needs-item,
.vpn-text {
  font-size: 18px;
}

.vpn-text {
  max-width: 490px;
}

.yellow-line {
  width: 250px;
  height: 5px;
  background-color: $color-secondary;
}

.payment,
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.payment {
  width: 580px;
}

.payment-text {
  font-size: 20px;
}

.card-text {
  font-size: 18px;
}

.qiwi {
  width: 150px;
}

.card {
  width: 60px;
}

.card-wrapper {
  flex-wrap: nowrap;
}

.card {
  margin-right: 20px;
}

h3 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  color: $color-secondary;
}

.footer {
  padding-top: 35px;
  border-top: 1px solid $color-primary;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.footer-item {
  display: flex;
  font-size: 20px;
  align-items: center;

  img {
    margin-right: 25px;
  }
}

.footer-item__text {
  margin: 0;
}

.copyrights {
  display: block;
  margin-bottom: 250px;
  text-align: center;
  font-size: 18px;
}

@import 'media';
